@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Brett Davis<br/>
    7602 Woodland Drive, Suite 150<br />
    Indianapolis, IN 46278<br />
    <abbr title="Phone">P:</abbr>
    317.441.2128
</address>

<address>
    <strong>Questions:</strong>   <a href="mailto:brett.davis@fusionalliance.com">brett.davis@fusionalliance.com</a><br />    
</address>